.circular-image-small {
  height: 36px !important;
  width: 36px !important;
  border-radius: 50%;
}

.circular-image-medium {
  height: 88px !important;
  width: 88px !important;
  // border-radius: 50%;
}

.min-height-avatar{
  min-height: 100px;
}
